* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
  /* { } */
h1 {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
 }
 
.navbar { 
    text-align: center;
    background-color: rgb(251, 219, 180);
    display: flex; 
    margin: 40px;
    text-decoration: none;
 }

a {  
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin: 20px;
    font-size: 20px;
}

a, img { 
    padding-top: 10px;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}

img { 
    border: 3px solid black;
    padding-top: 10px;
    padding: 20px;
    width: 250px;
    display: inline-block;
}


