* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
  /* { } */
h1 {
    text-align: center;
    margin-top: 40px;
 }
 
.navbar { 
    text-align: right;
 }

 a {  
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-bottom: 4px;
    margin: 40px;
}
.container {
    background-color: burlywood;
 }