* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
}
  /* { } */
h1, h2, a {
    text-align: center;
    margin-top: 4px;
    padding-bottom: 8px;
 }

h3 { 
   text-align: left;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 2px; 
}

/*popraviti i dodati img i divs*/
 ul, li, ol { 
    margin-left: 40px;
    padding: 4px;
 }
 
a {  
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding-bottom: 4px;
    margin: 40px;
    text-align: right;
}

.description { 
    border: 20px;
    background-color: burlywood;
    text-align: center;
    margin: 20px;
    padding: 20px;
} 

/* dovrsi clase i dodaj obrube */

.ingredients { } 
.steps { } 