* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #faebd7;
    margin-bottom: 40px;
}
  /* { } */
h1, h2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 8px;
 }

h1  { 
    margin-top: 60px;
}

h3 { 
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 2px; 
}

img { 
    margin-left: 200px;
    padding: 4px;
}

a { 
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 4px;
    margin: 20px;
   
}

.homepage {
    text-align: right;
    font-size: 20px;
    padding-bottom: 2px;
    margin: 30px;
    margin-right: 100px;
 }

ul, li, ol { 
    margin-left: 40px;
    padding: 4px;
 }

.product { 
    text-align: center;
    border: 10px;
    padding: 30px;
} 

.description { 
    text-align: center;
    border: 10px;
    padding: 30px;
    margin: 20px auto;
    background-color: #e5c8b3;
    width: 1000px;

} 

.ingredients {
    width: 1000px;
    border: 20px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #e5c8b3;
    margin: 5px auto;
    
} 

.list { 
    border: 3px solid black;
}

.steps {
    width: 1000px;
    border: 20px ;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #e5c8b3;
    color: black;
    font-weight: 500;
    margin: 20px auto;
 } 

 .end { 
    width: 1000px;
    border: 20px ;
    padding: 30px;
    margin: 20px;
    background-color: #e3c3ac;
    margin: 20px auto;
    font-weight: 500;
    color: black;
    text-align: center;
 }