* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(206, 166, 118);
}
  /* { } */
h1 {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 2px;
    margin-bottom: 10px;
 }

 h2 , h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 10px;
 }

h4 {
    text-align: center;
    padding-bottom: 2px;
}

a { 
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 3px;
    margin: 1200px;
    font-size: 18px;
}

img { 
    margin-left: 200px;
    padding: 4px;
    width: 400px;
    height: 500px;
}

.description { 
    font-size: 16px;
    text-align: center;
    border: 10px;
    padding: 30px;
    margin: 20px auto;
    background-color: #e5c8b3;
    width: 1000px;

} 

.ingredients {
    width: 250px;
    border: 20px;
    padding: 20px;
    background-color: #e5c8b3;
    margin: 20px auto;  
} 

.steps {
    width: 1000px;
    height: 300px;
    display: flex;
    border: 20px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #e5c8b3;
    margin: 5px auto; 

  } 

.dough {
    width: 250px;
    border: 2px solid black ;
    padding: 20px;
    background-color: #e5c8b3;
    margin: 2px auto;
    text-align: left;
 }  

.filling{ 
    width: 250px;
    border: 2px solid black ;
    padding: 20px;
    background-color: #e5c8b3;
    margin: 2px auto;
    text-align: left;
} 

.frosting { 
    width: 250px;
    border: 2px solid black ;
    padding: 20px;
    background-color: #e5c8b3;
    margin: 2px auto;
    text-align: left;
} 

.preparation { 
    text-align:left;
    border: 10px;
    padding: 30px;
    margin: 20px auto;
    background-color: #e5c8b3;
    width: 1000px;
} 

.info { 
    width: 250px;
    border: 10px;
    padding: 10px;
    background-color: #e5c8b3;
    margin: 20px auto;
    text-align: left;
} 

.info1 { 
    width: 250px;
    border: 20px;
    border: 2px solid black ;
    padding: 20px;
    background-color: #e5c8b3;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 60px;
 
} 
