* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    margin-bottom: 40px;
}
  /* { } */
h1, h2 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 8px;
 }

h3 { 
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 2px; 
}

img { 
    margin-left: 40px;
    padding: 4px;
}

a { 
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 4px;
    margin: 20px;
}

ul, li, ol { 
    margin-left: 40px;
    padding: 4px;
 }

.description { 
    text-align: center;
      border: 20px;
    padding: 30px;
    margin: 20px auto;
    background-color: #e5c8b3;
    width: 1000px;

    
} 

.ingredients {
    width: 1000px;
    border: 20px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #e5c8b3;
    margin: 20px auto;
    
} 

.steps {
    width: 1000px;
    border: 20px ;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #e5c8b3;
    color: black;
    font-weight: 500;
    margin: 20px auto;
 } 

 .end { 
    width: 1000px;
    border: 20px ;
    padding: 30px;
    margin: 20px;
    background-color: #e5c8b4;
    margin: 20px auto;

 }